<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/web/style.css">
</head>
<body>
    <h1>Error</h1>
    <p><%= message %></p>
    <a href="<%= backLink || '/' %>">Go Back</a>
</body>
</html>
